.submitted-tweet {
  border: 3px solid #545149;
  padding: 0 5%;
  margin: 5% 0;
}
.submitted-tweet:hover {
  box-shadow: 5px 10px #CC8614;
}

.submitted-tweet:hover .user-handle {
  color: #CC8614;
  opacity: 1;
}
.submitted-tweet:hover .composed-tweeter-icons {
  opacity: 1;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;

}
.tweet-user-profile {
  display: flex;
  align-items: center;
  gap: 2%;
}

.avatar {
  width: 20%;
}

.composed-tweet-username {
  font-size: 1.2em;
}

.user-handle {
  align-self: center;
  opacity: 0;
}

.composed-tweet-message {
  border-bottom: 3px solid #545149;
  padding-bottom: 2%;
  margin-bottom: 0;
  word-break: break-all;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  align-items: flex-start;
  padding-top: 1%;
}

.tweet-footer i {
  font-size: 0.7rem;
}

.date-posted {
  margin-top: 0;
  font-size: 0.8rem;
}

.composed-tweeter-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20%;
  opacity: 0;
}


/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #tweets-container {
    font-size: 1.3rem;
  }
  .composed-tweet-message {
    margin-top: 0;
  }
  .date-posted {
    font-size: 1rem;
    font-weight: bold;
  }
  .tweet-footer i {
    font-size: 1rem;
  }
}


/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  #tweets-container {
    font-size: 1.4rem;
  }
  .composed-tweet-message {
    margin-top: 0;
  }
  .date-posted {
    font-size: 1rem;
    font-weight: bold;
  }
  .tweet-footer i {
    font-size: 0.9rem;
  }
}