.new-tweet {
  margin-top: 30px
}

.submission {
  font-family: 'Bungee', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #545149;
  padding-top: 15px;
}

.tweet-button {
  background-color: #545149;
  color: #ffffff;
  border: none;
  padding: 7px;
}

.tweet-label {
  font-weight: 700;
}

.tweet-button:hover {
  background-color: #CC8614;
}

#tweet-text {
  width:100%;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  font-size: 22px;
  margin-top: 10px;
}

.minus-counter {
  color: #fc5f3f;
}